

header {
	background-image: url(/images/header.jpg);
	height: 100vh;
	background-size: cover;
	margin-bottom: 50px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
  	color: white;

}
#logo {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 56px;
	text-style: italic;
}

#tag {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-style: italic;

}

.header-text {
	background-color: rgba(0, 0, 255, 0.3);   /* blue with opacity */
	border-radius: 25px;
	padding: 60px;


}

p {
	width: 600px
  	margin: 0 auto 20px
}

.nav-links li {
    display: inline;
    font-size: 20px;
    padding: 50px;
    margin: 50px;
    color: DarkCyan;
}

.nav-links li a {
    
    color: DarkCyan;
    text-decoration: none;

}
.active {
    text-decoration: underline;

}
.nav-links li a:hover {
    background-color: DarkCyan;
    color: white;
}

.nav {
	justify-content: center;
  	align-items: center;
  	text-align: center;
  	margin: 100px;
  	

}

#container {
	width: 80%;
	align-content: center;
	margin: auto;
}

.about {
	display: none;
}

.article-active{
	display: block;
}

.portfolio {
	display: none;
}

.contact {
	display: none;
}
footer {
	justify-content: center;
  	align-items: center;
  	text-align: center;
	padding: 10px;
	margin: 10px;
}