.jumbotron {

  background-image: url("../images/stephen-grin.jpg");
  background-size: cover;
  background-position: 50% 11%;
  opacity:0.9;
  font-family: "Calisto MT","Bookman Old Style",Bookman,"Goudy Old Style",Garamond,"Hoefler Text","Bitstream Charter",Georgia,serif;
  color: black;
}

.img-head {

  shape-outside: url(images/codelove.png);
  shape-image-threshold: 0.5;
  float: left;
  shape-margin: 10px;
}

#hidden-quote-container {
  display: none;
}

small {
  text-align: right;
  font-family: "Calisto MT","Bookman Old Style",Bookman,"Goudy Old Style",Garamond,"Hoefler Text","Bitstream Charter",Georgia,serif;
}
blockquote>p {
  font-family: "Calisto MT","Bookman Old Style",Bookman,"Goudy Old Style",Garamond,"Hoefler Text","Bitstream Charter",Georgia,serif;
}

.footer {
  
  width: 100%;  
}

.qc {
-webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}

